services:
  postgres:
    image: postgres:16-alpine
    container_name: order-postgres
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: order
      POSTGRES_PASSWORD: order
    ports:
      - "5432:5432"
    volumes:
      - order_pg_data:/var/lib/postgresql/data
    networks:
      - core

volumes:
  order_pg_data:

networks:
  core:
    external: true